html,body, .fullHeight{
    height: 100%!important;
    position: relative;
}

.header{
    margin-left: 4rem;
    position: absolute;
}

/*Login Page*/

.loginMainArea{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}
.bgImage{
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
}
.loginBodyBg{
    background-image: url('../images/login_bg_img.jpg');
}
.headTitle{font-size: 30px;}
.submitBtn{
    text-transform: uppercase;
}

/*SignUp Page*/

.signUpBodyBg{
    background-image: url('../images/signup_bg_img.jpg');
    background-size: 50% 100%;
}

/*Forgot Pass Page */

.loginBodyContent h5{
    line-height: 22px;
    font-weight: 600;
}


