.userAsideBar{
    height: 100vh;
}
.userName{
    font-size: 16px;
    font-weight: 600;
    color: #363636;
    padding-left: 10px;
    font-family: 'Crimson Text', serif;
}
.userAvater{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.userNavBar .nav-link{
    font-size: 16px;
    color: #363636;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}
.userNavBar .nav-link i{padding-right: 10px;}
.userNavBar .active .nav-link, .userNavBar .nav-link:hover{
    color: #3897cf;
    background-color: #f9f9f9;
    border-left: 3px solid #3897cf;
}

/*User Main Content*/

.userMainContent{height: 100vh;}
.bgImg03{
    background-image: url('../images/bg_img_02.jpg');
    background-size: cover;
}
.headTitle{
    color: #363636;
    text-transform: uppercase;
}
.headTitle span{
    text-transform: uppercase;
    color: #3897cf;
}
.cardWidgetTitle{
    font-size: 20px;
    color: #363636;
    text-transform: uppercase;
    text-align: center;
}
.cardWidgetList li a{
    font-size: 18px;
    color: #363636;
    font-weight: 600;
    line-height: 35px;
}
.cardWidgetList2{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.cardWidgetList2 li{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.cardWidgetList li strong{text-transform: uppercase;}

.cardTable{border: 1px solid rgba(0, 0, 0, 0.1);}
.cardTable thead th{
    background-color: #f7f7f7;
    font-size: 18px;
    color: #363636;
    font-weight: 700;
    text-transform: uppercase;
    border: 0px;
}
.cardTable td{
    font-size: 16px;
    color: #363636;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    line-height: 35px;
}
.cardTable td a{color: #3897cf;}
.stockInfo{
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding:10px 15px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
}
.cardTable .btn{
    font-size: 12px;
    color: #363636;
    background-color: #f7f7f7;
    margin-right: 15px;
}
.cardTable .btnActionUpdate:hover{
    color: #ffffff;
    background-color: #3897cf;
}
.cardTable .btnActionDelete:hover{
    color: #ffffff;
    background-color: #dc3545;
}
.payTitle{
    font-size: 18px;
    font-weight: 600;
}
.payExp{
    font-size: 14px;
    color: #363636;
}
.btnSm{
    font-size: 12px!important;
    color: #ffffff!important;
    
}
.cardBtBorder{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.addPaymentCard{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.formBody {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.cardBl{
    font-size: 20px;
    padding: 0 1rem;
}




.formCheckbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .formCheckbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .formCheckbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  
  .formCheckbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }
  
  .formCheckbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .formCheckbox input[type="checkbox"]:checked + label::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
  }
.formCheckbox label{
    font-size: 17px;
    color: #363636;
}

/*Radio Style */
.radioLabel {
    display: block;
}
.formRadio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radioLabel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.formRadio input[type="radio"] + .radioLabel:before {
    content: '';
    background: transparent;
    border-radius: 100%;
    border: 1px solid #363636;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 0;
    margin-right: 0.5rem;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.formRadio input[type="radio"]:checked + .radioLabel:before {
    background-color: #3897cf;
    box-shadow: inset 0 0 0 2px #f4f4f4;
}

/*User Profile*/

.cardSecTitle{font-size: 16px;color: #363636;text-transform: uppercase;}
.cardSubtitle{
    font-size: 17px;
    color: #363636;
    font-weight: 600;
}